<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xuecheng.security.mapper.UserInfoMapper">
    <select id="list" resultType="com.xuecheng.security.vo.UserInfoVO" parameterType="com.xuecheng.security.dto.UserInfoDTO">
        SELECT
        xc_userinfo.*, (
        SELECT
        concat(group_concat(xc_role.RoleName),'|',group_concat(xc_role.ID))
        FROM
        xc_user_role,
        xc_role
        WHERE
        xc_userinfo.ID = xc_user_role.UserInfoID
        AND xc_user_role.RoleID = xc_role.ID
        ) roleNames
        FROM
        xc_userinfo
        <if test="userName != null">
            and UserName like '%${userName}%'
        </if>
        <if test="status != null">
            and Status = #{status}
        </if>
        <if test="nickName != null">
            and NickName like '%${nickName}%'
        </if>
        <if test="realName != null">
            and RealName like '%${realName}%'
        </if>
    </select>
</mapper>


